<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->
<div class="adminPage">
  <div class="userHdr">Add Drink</div>
  <input type="text" id="name" placeholder="Name..." />
  <input type="text" id="description" placeholder="Description..." />
  <input type="text" id="price" placeholder="Price..." />

  <div id="flavorList" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Select Flavors</span>
    <ul class="items">
      <% for (let flavor of flavors) {%>
      <li><input type="checkbox" /><%= flavor.flavor %></li>
      <%}%>
    </ul>
  </div>

  <div id="toppingList" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Select Toppings</span>
    <ul class="items">
      <% for (let topping of toppings) {%>
      <li><input type="checkbox" /><%= topping.topping %></li>
      <%}%>
    </ul>
  </div>
  <div>
    <div class="tempBox">
      <% for(let temp of temps){ %>
      <label id="tempLabel">
        <input
          type="checkbox"
          id="temp"
          class="temps"
          name="temps"
          value="<%=temp%>"
        />
        <%=temp%>
      </label>
      <%} %>
    </div>
    <div>
      <input type="checkbox" id="popular" />
      <label for="popular">Popular</label>
    </div>
    <div>
      <input type="checkbox" id="special" />
      <label for="special">Special</label>
    </div>
    <div>
      <input type="checkbox" id="caffeinated" value="Caffeinated" />
      <label for="caffeinated">Caffeinated</label>
    </div>
  </div>

  <input type="submit" class="submit" value="Add Drink" />\

  <style>
    #tempLabel {
      margin-right: 10px;
    }
  </style>

  <!-- /Main Site -->

  <script src="/js/addDrink.js"></script>

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->
</div>
