<!--header for barista pages-->
<!--note this page is very similar to the completed orders page,
the only difference is the complete and finish buttons vs the incomplete button-->
<%- include('include/_baristaHeader') %>

<head>
  <h5>Orders:</h5>
</head>
<body>
  <div>
    <table class="table table-striped">
      <thead>
        <!--Labels for order page table which displays the current orders-->
        <tr id="a">
          <th scope="col">Room Number</th>
          <th scope="col">Teacher</th>
          <th scope="col">Drink</th>
          <th scope="col">Temp</th>
          <th scope="col">Flavors</th>
          <th scope="col">Toppings</th>
          <th scope="col">Special Instructions</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Cancel Order</th>
          <th scope="col">Finish Order</th>
        </tr>
        <!--count is used for tempDrink-->
        <% let count = 0; %> <% let color = 0; %> <% let showButtons = true; %>
        <!-- < looping through the each order to display each> -->
        <% for (let order of orders){%> <% showButtons = true; %>
        <!--displays only orders that HAVE NOT been completed-->
        <% if(order.complete === false && order.cancelled === false){%>
        <!--loops through the drinks in an order-->
        <% for(let i = 0; i < order.drinks.length; i++){%>
        <!--gets the temperature of the drink-->
        <% let tempDrink = drinkMap.get(count)[i]; %>
        <!--makes the color change-->
        <% if(color%2===0){%>
        <tr id="b">
          <%}%>
          <!-- -->
          <% if(color%2!==0){%>
        </tr>

        <tr id="c">
          <%}%>
          <!--Displays the orders in the table-->
          <!--Each drink in an order is displayed as separate items on the table-->
          <!--Helps to make sure baristas do not forget to make anything-->
          <!--Right now orders has a complete property but this will need to be switched to drink-->
          <!--Complete button needs to mark an individual drink as complete and move it to the
          completed orders page rather than an entire order-->
          <th scope="?"><%=order.room%></th>
          <th scope="?"><%=order.email%></th>
          <th scope="?"><%=tempDrink.name%></th>
          <th scope="?"><%=tempDrink.temp%></th>
          <th scope="?"><%=tempDrink.flavors%></th>
          <th scope="?"><%=tempDrink.toppings%></th>
          <th scope="?"><%=tempDrink.instructions%></th>
          <th scope="?"><%=order.timestamp%></th>
          <!--Complete button and cancel button,
            Complete button has some code, cancel button has not yet been worked on,
            There is more info in the Trello on what each button needs to do-->
          <% if(showButtons === true) { %>
          <th scope="?">
            <button value="<%=order.id%>" class="cancelButton">Cancel</button>
          </th>
          <th scope="?">
            <button value="<%=order.id%>" class="finishButton">Finish</button>
          </th>
          <% showButtons = false; %> <%} else { %>
          <th scope="?">part of the above order</th>
          <th scope="?"></th>
          <%}%>
        </tr>
        <!--  -->
        <%}%>
        <!--  -->
        <%color++;}%>
        <!--  -->
        <%count++;}%>
      </thead>
    </table>
  </div>
</body>

<!--css for formatting on the orders page, the colors are for the different rows-->
<style type="text/css">
  table tr#a {
    background-color: lightblue;
  }
  table tr#b {
    background-color: lightsalmon;
  }
  table tr#c {
    background-color: rgb(255, 202, 181);
  }
  button#barista {
    background-color: lightblue;
    border-color: white;
    color: black;
  }
  h5 {
    font-family: cursive;
    font-size: 35px;
  }
</style>

<!-- connect to js -->

<script src="/js/barista.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
