<!-- include header -->
<%- include('include/_teacherHeader') %>
<!-- /include header -->

<!-- Main Site -->
<head>
  <h2>Customize Drink</h2>
</head>

<body>
  <h2 id="drinkName"><%=drink.name%></h2>
  <h4 id="drinkPrice"><%=drink.price%></h4>
  <p>Please fill out this form to customize your drink.</p>
  <div id="flavorsList" class="dropdown-check-list">
    <ul class="items">
      <% for (let flavor of flavors) {%>
      <li>
        <input id="flavors" type="checkbox" value="<%= flavor.id %>" /><%=
        flavor.flavor %>
      </li>
      <%}%>
    </ul>
  </div>
  <div></div>
  <!-- 
      <label>Choose Temperature</label>
      <select class="select" name="filter" id="filter">
        <option>Temperature</option>
        <option>Hot</option>
        <option>Cold</option>
        <option>Blended</option></select
      ><br />
      <label>Choose Topping:</label><br />
      <input type="checkbox" />
      <label>cream</label><br />
      <input type="checkbox" />
      <label>sauce</label><br />
      <input type="checkbox" />
      <label>boba</label><br /><br />
      <label>Choose Decaf or Caffeinated</label><br />
      <input type="radio" id="decaf" name="caffeine" />
      <label for="decaf">Decaf</label>
      <input type="radio" id="caf" name="caffeine" />
      <label for="caf">Caffeine</label>
      <br /><br />
      <label>Type Any Special Instructions Here:</label><br />
      <textarea rows="4" cols="50">Enter text here...</textarea>
      <input type="submit" class="submit" value="Place Order" />
    </form>
  </div> -->
</body>

<!-- /Main Site -->

<!-- <script src="/js/teacherMenu.js"></script> -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
