<!-- include header -->
<%- include('include/_teacherHeader') %>
<!-- /include header -->

<!-- Main Site -->
<head>
  <h2>Customize Drink</h2>
</head>

<body>
  <h2 id="drinkName"><%=drink.name%></h2>
  <h4 id="drinkPrice">Price: $<%=drink.price%></h4>
  <p>Please fill out this form to customize your drink.</p>
  <div class="dropdown-check-list">
    <h6>Choose a Flavor:</h6>
    <ul class="items">
      <% for (let flavor of flavors) {%>
      <li>
        <input id="<%= flavor.id %>" type="checkbox" /><%= flavor.flavor %>
      </li>
      <%}%>
    </ul>
  </div>
  <div class="dropdown-check-list">
    <h6>Choose a Temperature:</h6>
    <ul class="items">
      <% for (let temp of temps) {%>
      <li><input id="<%= temp.id %>" type="checkbox" /><%= temp %></li>
      <%}%>
    </ul>
  </div>
  <div class="dropdown-check-list">
    <h6>Choose a Topping:</h6>
    <ul class="items">
      <% for (let topping of toppings) {%>
      <li>
        <input id="<%= topping.id %>" type="checkbox" /><%= topping.topping %>
      </li>
      <%}%>
    </ul>
  </div>
  <form>
    <textarea>Add Special Instructions Here...</textarea>
    <input type="submit" class="submit" value="Place Order" />
  </form>
</body>

<!-- /Main Site -->

<!-- <script src="/js/teacherMenu.js"></script> -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
