<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div id="mainContent" class="adminPage">
  <div class="userHdr">Delete User</div>
  <select id="toDelete">
    <% for (let user of users) { %>
    <option value="<%= user.id %>"><%=user.email%> (<%=user.userType%>)</option>
    <% } %>
  </select>
  <input
    id="delUser"
    type="submit"
    onclick="deleteUsers()"
    value="Delete User"
  />
</div>

<!-- /Main Site -->

<script src="/js/deleteUser.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
