<!--This displays all of the popular drinks and it does so on the homepage
    rather than the teacher page, it functions the exact same as teacher
    popular drinks-->

<%- include('include/_homeHeader') %>

  <head>
    <h2>Popular Drinks</h2>
  </head>
  <body>
      <% for (let drink of menuItems){%>
          <div class="card">
            <div class="container">
              <h4><b><%=drink.name%></h4>
                <% if (drink.imagePath) { %>
                <% const pathName = drink.imagePath.replace("assets\\img\\", "img/"); %>
                <img src="<%=pathName%>" alt="<%=drink.name%>" style="width:100%">
              <% } %>
              <h5>$<%=drink.price%></h5>
              <%if(drink.description.length > 40) { %>
              <p><%=drink.description.slice(0,40) + "..."%></p>
              <% } else { %>
                <p><%=drink.description%></p>
              <% } %>
            </div>
          </div>
      <%}%>
  </body>
  <!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->