<!--This page is on the homepage and it displays the menu so that users
    can view it without having to sign in, it is similar to teacher menu
    except it does not allow users to customize drinks or add them to orders-->

<%- include('include/_homeHeader') %>

  <head>
    <h2>Menu</h2>
  </head>
  <body>
      <% for (let drink of menuItems){%>
        
          <div class="card">
            <div class="container">
              <h4><b><%=drink.name%></h4>
              <h5><%=drink.price + "$"%></h5>
              <%if(drink.description.length > 40) { %>
              <p><%=drink.description.slice(0,40) + "..."%></p>
              <% } else { %>
                <p><%=drink.description%></p>
              <% } %>
            </div>
          </div>
        
      <%}%>
  </body>
  <!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->