<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<input type="hidden" id="userEmails" value="<%=
JSON.stringify(userEmails).replace("[", "").replace("]", "").replaceAll('"',"")
%>" /> <input type="hidden" id="ordersPerUser" value="<%=
JSON.stringify(ordersPerUser).replace("[", "").replace("]", "") %>" /> <input
type="hidden" id="revenuePerUser" value="<%=
JSON.stringify(revenuePerUser).replace("[", "").replace("]", "") %>" />

<h1>Metrics Per User:</h1>
<div>
  <table>
    <thead>
      <tr>
        <th class="userTable"><b>User</b></th>
        <th class="userTable"><b>Orders</b></th>
        <th class="userTable"><b>Revenue</b></th>
      </tr>
    </thead>

    <tbody id="userTable">
      <% for(let i = 0; i < userEmails.length; i++) { %>
      <tr>
        <td><%=userEmails[i]%></td>
        <td><%=ordersPerUser[i]%></td>
        <td>$<%=revenuePerUser[i]%></td>
      </tr>
      <%}%>
    </tbody>

    <thead>
      <tr>
        <th><b>Total</b></th>
        <th><b><%=totalOrdersNum%></b></th>
        <th><b>$<%=totalRevenue%></b></th>
      </tr>
    </thead>
  </table>
</div>

<h1>Metrics Per Menu Item:</h1>
<div>
  <table>
    <thead>
      <tr>
        <th class="menuItemTable"><b>Menu Item</b></th>
        <th class="menuItemTable"><b>Orders</b></th>
        <th class="menuItemTable"><b>Revenue</b></th>
      </tr>
    </thead>

    <tbody id="menuItemTable">
      <% for(let i = 0; i < menuItemNames.length; i++) { %>
      <tr>
        <td><%=menuItemNames[i]%></td>
        <td><%=ordersPerMenuItem[i]%></td>
        <td>$<%=revenuePerMenuItem[i]%></td>
      </tr>
      <%}%>
    </tbody>

    <thead>
      <tr>
        <th><b>Total</b></th>
        <th><b><%=totalDrinkOrdersNum%></b></th>
        <th><b>$<%=totalRevenue%></b></th>
      </tr>
    </thead>
  </table>
</div>

<div>
  <canvas id="ordersPerUserChart" width="900" height="900"> </canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const getCellValue = (tr, idx) =>
    tr.children[idx].innerText || tr.children[idx].textContent;

  const comparer = (idx, asc) => (a, b) =>
    ((v1, v2) =>
      v1 !== "" && v2 !== "" && !isNaN(v1) && !isNaN(v2)
        ? v1 - v2
        : v1.toString().localeCompare(v2))(
      getCellValue(asc ? a : b, idx),
      getCellValue(asc ? b : a, idx)
    );

  document.querySelectorAll("th.userTable").forEach((th) =>
    th.addEventListener("click", () => {
      const table = document.getElementById("userTable");
      Array.from(table.querySelectorAll("tr"))
        .sort(
          comparer(
            Array.from(th.parentNode.children).indexOf(th),
            (this.asc = !this.asc)
          )
        )
        .forEach((tr) => table.appendChild(tr));
    })
  );
  document.querySelectorAll("th.menuItemTable").forEach((th) =>
    th.addEventListener("click", () => {
      const table = document.getElementById("menuItemTable");
      Array.from(table.querySelectorAll("tr"))
        .sort(
          comparer(
            Array.from(th.parentNode.children).indexOf(th),
            (this.asc = !this.asc)
          )
        )
        .forEach((tr) => table.appendChild(tr));
    })
  );

  const userEmails = document.getElementById("userEmails").value.split(",");
  const ordersPerUser = document
    .getElementById("ordersPerUser")
    .value.split(",");

  document.addEventListener("DOMContentLoaded", () => {
    let userOrdersCanvas = document.getElementById("ordersPerUserChart");
    let userOrdersChart = new Chart(userOrdersCanvas, {
      type: "bar",
      data: {
        labels: userEmails,
        datasets: [
          {
            label: "Orders",
            data: ordersPerUser,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1,
          },
        ],
      },
    });
  });
</script>

<style>
  th {
    cursor: pointer;
  }
</style>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
