<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->
<div class="adminPage">
  <!-- Check if drink has been chosen -->
  <% let chosenDrink = false; %> <% if(selectedMenuItem == undefined) {
  chosenDrink = false; } else {chosenDrink = true; } %>
  <div class="userHdr">Modify Drink</div>
  <select class="select" id="filter">
    <% for (let menuItem of menuItems) { %> <% if(selectedMenuItem !== undefined
    && selectedMenuItem.id == menuItem.id) { %>
    <option value="<%=menuItem.id %>" selected="selected">
      <%= menuItem.name %>
    </option>
    <% } else {%>
    <option value="<%=menuItem.id %>"><%= menuItem.name %></option>
    <% } } %>
  </select>

  <!-- figure out to make fill this w/ og -->
  <% if(chosenDrink == true) { %> <% if (selectedMenuItem.imagePath) { %>
  <%const pathName = selectedMenuItem.imagePath.replace("assets\\img\\",
  "img/"); %>

  <img
    src="<%=pathName%>"
    alt="<%=selectedMenuItem.name%>"
    style="width: 100%"
    id="currentImg"
  />
  <% } %>
  <div>
    Add Image *REQUIRED*
    <input
      type="file"
      name="image"
      id="image"
      value="<%=selectedMenuItem.imagePath%>"
    />
  </div>
  <textarea id="name" class="content" placeholder="Edit Name...">
<%= selectedMenuItem.name %></textarea
  >
  <textarea id="description" class="content" placeholder="Edit Description...">
<%= selectedMenuItem.description %></textarea
  >
  <textarea id="price" class="content" placeholder="Edit Price...">
<%= selectedMenuItem.price %></textarea
  >
  <% } else { %>
  <textarea class="content" placeholder="Edit Name..."></textarea>
  <textarea class="content" placeholder="Edit Description..."></textarea>
  <textarea class="content" placeholder="Edit Price..."></textarea>
  <% } %>

  <!-- for loop for all option checkboxes -->
  <div id="flavorsList" class="dropdown-check-list">
    <span class="anchor">Edit Flavors</span>
    <ul class="items">
      <%for (let flavor of flavors) { if(chosenDrink == true &&
      selectedMenuItem.flavors.includes(flavor._id) == true) { %>
      <li>
        <input
          id="flavor"
          type="checkbox"
          checked="checked"
          value="<%= flavor._id %>"
        /><%= flavor.flavor %>
      </li>
      <% } else { %>
      <li>
        <input id="flavor" type="checkbox" value="<%= flavor._id %>" /><%=
        flavor.flavor %>
      </li>
      <% } }%>
    </ul>
  </div>

  <div id="pageRight">
    <div id="toppings" class="dropdown-check-list">
      <span class="anchor">Edit Toppings</span>
      <ul class="items">
        <%for (let topping of toppings) { if(chosenDrink == true &&
        selectedMenuItem.toppings.includes(topping._id) == true) { %>
        <li>
          <input
            id="toppings"
            type="checkbox"
            checked="checked"
            value="<%= topping._id %>"
          /><%= topping.topping %>
        </li>
        <% } else { %>
        <li>
          <input id="toppings" type="checkbox" value="<%= topping._id %>" /><%=
          topping.topping %>
        </li>
        <% } }%>
      </ul>
    </div>

    <div id="tempBox" class="dropdown-check-list">
      <span class="anchor">Edit Temp</span>
      <ul class="items">
        <% for(let temp of temps){ %>
        <li>
          <input type="checkbox" id="temp" class="temps" name="temps"
          value="<%=temp%>" <%= (chosenDrink &&
          selectedMenuItem.temps.includes(temp)) ? "checked" : "" %> />
          <%=temp%>
        </li>
        <%} %>
      </ul>
    </div>

    <div id="options" class="dropdown-check-list">
      <span class="anchor">Edit Options</span>
      <ul class="items">
        <li>
          <input id="popular" type="checkbox" <%= (chosenDrink &&
          selectedMenuItem.popular) ? "checked" : "" %> /> Popular?
        </li>
        <li>
          <input id="caffeination" type="checkbox" <%= (chosenDrink &&
          selectedMenuItem.caffeination) ? "checked" : "" %> /> Caffeination
        </li>
        <li>
          <input id="special" type="checkbox" <%= (chosenDrink &&
          selectedMenuItem.special) ? "checked" : "" %> /> Special?
        </li>
      </ul>
    </div>

    <input class="submit" type="submit" value="Save Drink" />
  </div>

  <!-- /Main Site -->
  <style>
    #pageRight {
      float: right;
    }
    #flavorsList {
      float: left;
    }
  </style>

  <script src="/js/modifyDrink.js"></script>
  <script>
    window.selectedMenuItem = selectedMenuItem || "null";
  </script>

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->
</div>
