<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Modify User</div>

  <label>User:</label>
  <select class="select" id="users">
    <% for (let user of users) {%> <%if(user.id === selectedUser.id) { %>
    <option selected="selected" value="<%=user._id%>">
      <%= user.email + " (" + user.userType + ")" %>
    </option>
    <% } else {%>
    <option value="<%=user._id%>">
      <%= user.email + " (" + user.userType + ")" %>
    </option>
    <%}%> <%}%>
  </select>

  <label>Role:</label>
  <select class="select" id="roles">
    <% if(selectedUser.userType === "admin") { %>
    <option value="admin" selected="selected">admin</option>
    <%} else {%>
    <option value="admin">admin</option>
    <%}%> <% if(selectedUser.userType === "barista") { %>
    <option value="barista" selected="selected">barista</option>
    <%} else {%>
    <option value="barista">barista</option>
    <%}%> <% if(selectedUser.userType === "teacher") { %>
    <option value="teacher" selected="selected">teacher</option>
    <%} else {%>
    <option value="teacher">teacher</option>
    <%}%>
  </select>

  <label>Email:</label>
  <textarea id="email" class="content" placeholder="Edit Email...">
<%= selectedUser.email %></textarea
  >

  <input class="submit" type="submit" value="Update User" />
</div>

<!-- /Main Site -->
<script src="/js/modifyUser.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
