<%- include('include/_teacherHeader') %>

<div id="mainContent">
<body>
  <h2>Cart</h2>

  <%let index = 0;%>
  <% for (let drink of cart){%>
    <div class="card">
      <div class="container">
        <h4><b><%=drink.name%></h4>
        <h5>$<%=drink.price%></h5>
        <ul>
          <%for (let flavor of customizationDict[drink._id].flavors) {%>
            <li><%=flavor.flavor%></li>
          <%}%>
          <%for (let topping of customizationDict[drink._id].toppings) {%>
            <li><%=topping.topping%></li>
          <%}%>
          <li><%=drink.temps%></li>
        </ul>
        <%if(drink.instructions.length > 40) { %>
        <p><%=drink.instructions.slice(0,40) + "..."%></p>
        <% } else { %>
          <p><%=drink.instructions%></p>
        <% } %>
          <% console.log("###..."+index)%>
        <button type="button" class="remove" drink-index="<%=index%>">Remove</button>
        <%index++;%>
      </div>
    </div>
  <%}%>


  <%if(index > 0) { %>
  <div id="page-content">
    <input type="text" id="rm" placeholder="Enter Room Number" />
    <% if(headerData.enabled === true) {%>
    <input type="submit" class="placeOrder" value="Place Order" />
    <% } else { %>
    <div id="noOrder">
    <h3>Ordering is not currently available</h3>
    </div>
    <% } %>
  </div>
  <%} else { %>
    <h2>Your cart is empty.</h2>
  <% } %>
</body>
</div>

<style>
  #page-content {
    width: 25%;
    margin: 1%;
  }
  #noOrder {
    width: 200%;
  }
</style>
<script src="/js/teacherMyCart.js"></script>
<%- include('include/_footer') %>
