<!-- include header -->
<%- include('include/_teacherHeader') %>
<!-- /include header -->

<!-- Main Site -->
<div id = "mainContent">
  <head>
    <h2>Menu</h2>
  </head>
  <body>
      <% for (let drink of menuItems){%>
        <% let link = "/customizeDrink/" + drink.name; %>
        <a href = "<%=link%>">
          <div class="card">
            <div class="container">
              <h4><b><%=drink.name%></h4>
              <% if (drink.imagePath) { %>
                <% const pathName = drink.imagePath.replace("assets\\img\\", "img/"); %>
                <img src="<%=pathName%>" alt="<%=drink.name%>" style="width:100%">
              <% } %>
              <h5>$<%=drink.price%></h5>
              <%if(drink.description.length > 40) { %>
              <p><%=drink.description.slice(0,40) + "..."%></p>
              <% } else { %>
                <p><%=drink.description%></p>
              <% } %>
            </div>
          </div>
        </a>
      <%}%>
  </body>
  </div>
 
  <!-- /Main Site -->

  <!-- <script src="/js/teacherMenu.js"></script> -->

  <!-- include footer -->
  <%- include('include/_footer') %>
  <!-- /include footer -->


