<%- include('include/_teacherHeader') %>

<h2>Order History</h2>

<% for (let order of history){%>
  <div class="card">
    <div class="container">
      <h4><b><%=order.timestamp%></h4>
      <% for (let drink of order.drinks){%>
        <h5><%=drink.name%></h5>
          <%console.log(drink);%>
      <%}%>
      <h5><%=order.room%></h5>
      <h6><%=order.totalPrice%></h6>
    </div>
  </div>
<%}%>

<%- include('include/_footer') %>
