
<%- include('include/_teacherHeader') %> 
 <head>
    <h2>Popular Drinks</h2>
  </head>
  <body>
      <% for (let drink of menuItems){%>
          <div class="card">
            <div class="container">
              <h4><b><%=drink.name%></h4>
              <h5><%=drink.price + "$"%></h5>
              <%if(drink.description.length > 40) { %>
              <p><%=drink.description.slice(0,40) + "..."%></p>
              <% } else { %>
                <p><%=drink.description%></p>
              <% } %>
            </div>
          </div>
      <%}%>
  </body>
  <!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->