
<%- include('include/_teacherHeader') %> 
 <head>
    <h2>Popular Drinks</h2>
  </head>
  <body>
      <% for (let drink of menuItems){%>
        <% let link = "/customizeDrink/" + drink.name; %>
        <a href = "<%=link%>">
        <div class="card">
            <div class="container">
              <h4><b><%=drink.name%></h4>
              <% if (drink.imagePath) { %>
                <% const pathName = drink.imagePath.replace("assets\\img\\", "img/"); %>
                <img src="<%=pathName%>" alt="<%=drink.name%>" style="width:100%">
              <% } %>
              <h5>$<%=drink.price%></h5>
              <%if(drink.description.length > 40) { %>
              <p><%=drink.description.slice(0,40) + "..."%></p>
              <% } else { %>
                <p><%=drink.description%></p>
              <% } %>
            </div>
          </div>
        </a>
      <%}%>
  </body>
  <!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->